# Python
__pycache__/
*.py[cod]
*$py.class

# Poetry
/.venv/
/.pytest_cache/
/build/
/dist/
*.egg-info/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Temporary files
/tmp/
*.tmp
*.temp
.docker-jar-diff-cache/
.dist/
.venv/
*.log
venv/
.config/
